<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.invoicingprivoder.dao.SaleDao">
    <select id="saleList" parameterType="SalePartment" resultType="Sale">
        select s.id,s.price,s.quantity,s.totalPrice,s.saleDate,s.userId,s.productId,p.productName,u.userName from Sale s
        inner join product p on p.id=s.productId
        inner join users u on u.id = s.userId
        <if test="pageIndex!=null">
            limit #{pageIndex},#{pageSize}
        </if>

    </select>
    <select id="count" parameterType="SalePartment" resultType="int">
        select count(s.id) from sale s
        inner join product p on p.id=s.productId
        inner join users u on u.id =  s.userId
    </select>
    <delete id="deleteSale" parameterType="int">
        delete from sale where id=#{id}
    </delete>


</mapper>